body {
  margin: 0 20%;
}

.favorites {
  margin-left: 10px;
}

.song {
  padding: 13px 0;
  font-size: 16px;
}

#request {
  margin: 15px 0;
}

#add {
  padding-top: 15px;
}

.fa {
  padding-right: 5px;
  padding-top: 5px
}